/******************************************************************************/
/* OUTSIDE DIV */
.qBoard{
    z-index: 100;
    right: 0;
    top: 0;

    position: absolute;
    height: 100vh;
    padding-top: 3.2em;
    width: 25%;
    box-sizing: border-box;
}


/******************************************************************************/

/* QUESTIONTITLE */
#qBoardTitle{
    height: 2.6em;
    padding: 0.2em;
    border-bottom: 0.2rem solid #9a3b3b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Segoe UI";
    color: rgba(255, 255, 255, 0.86);


}

#qBoardTitle:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
#title{
    padding-top: 0.4rem;
    padding-left: 0.5rem;
    font-size: 1.5em;
}

.dropDown{
    height: 1.2em;
    width: 1.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}
.dropDown:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}

#iconA{
    transform: rotate(180deg);

}

#dropDownIcon{
    float: right;
    margin: auto;
    margin-right: 0.2em;
}

#qCount {
    margin: auto;
    margin-left: 0;
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    background: #9a3b3b;
    border:  0.1em solid #decece;
    border-radius: 0.6em;
}

/******************************************************************************/
/* DROPDOWN QUESTION AREA */

.qcontainer{

    display: grid;
    grid-template-rows: auto 3em;
    box-sizing: border-box;
    border-top: 0.08em solid rgb(0, 144, 147);
    height: 100%;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;


}
#qArea{


    overflow: auto;

  /* for Firefox */
    min-height: 0;

    background-color: rgba(13, 17, 18, 0.94);
    padding: 0.5em;

    overflow-y: auto;
    overflow-x: hidden;


}



#hidden{
    opacity: 0;
}
#visible{

    opacity: 1;
}

.questionCard{
    background-color: rgb(237, 237, 237);
    display: grid;
    grid-template-columns: 5% 95%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    font-family: "Segoe UI";
    padding: 0.3em;
    margin-bottom: 0.4em;
    color: rgba(13, 17, 18, 0.94);
    border-radius: 0.1em;
    height: auto;
    box-sizing: border-box;

    -webkit-transition: height 2s ease-out;
    -moz-transition: height 2s ease-out;
    -o-transition: height 2s ease-out;
    transition: height 2s ease-out;


}
.votingCard{
    margin: auto;
    text-align: center;
}
.question{
    background-color: rgba(103, 114, 221, 0);
    outline: none;
    border: none;
    overflow-y: hidden;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.1em;
    margin: auto;
    padding: 0 0.3em 0 1em;

}

.vote{
    height: 1em;
    width: 1em;
    top: 50%;
    left: 50%;
    fill: none;
    stroke: rgb(0, 0, 0);

}
.vote:hover{
    cursor: pointer;
}

#downvote{
    transform: rotate(180deg);
}

#upvote:hover{
    fill: rgb(89, 129, 95);
}
#downvote:hover{
    fill: rgb(235, 120, 120);

}
#votedUp
{
    fill: rgb(89, 129, 95);
}
#votedDown
{
    transform: rotate(180deg);
    fill: rgb(235, 120, 120);
}

#voteCount{

    font-family: "Calibri";
    font-size: 0.8em;
    left: 50%;

}
/******************************************************************************/


/* INPUT POPUP BAR */
#inputPop
{

    display: grid;

    border-top: 0.1em solid rgb(0, 144, 147);
    background-color: rgba(13, 17, 18, 0.94);

}

#popup-title
{
    border: none;
    text-align: center;
    margin: auto 2%;
    font-family: "Segoe UI";
    font-size: 1.2em;
    padding: 0.3em;
    color: rgb(13, 17, 18);
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
}


#popup-title
{
    border: none;
    outline: none;
    text-align: center;
    margin: auto 0;
    font-family: "Segoe UI";
    font-size: 1.2em;
    padding: 0.5em;
    color: rgb(240, 240, 240);
    border-radius: 0;
    background: rgb(13, 17, 18);
}
#popup-title:hover
{
    cursor: pointer
}

#popup-title:active{
    border: 0.05em solid rgb(0, 249, 190);
    opacity: 0.9;
}

/******************************************************************************/

/* INPUT */
.inputcard{


    display: grid;
    padding: 0.25rem 0.5rem;
    width:auto;


}
.input{

}

#backIcon{

}
#back-svg{
    height: 1em;
    width: 1em;
}
#textbox:focus{
    box-shadow: 0 0 1pt 2pt rgba(201, 100, 100, 0.7);
    outline: none;
}
#title-textbox{
    padding: 0.5em;
    height: 3em;
    width: 100%;
    resize: none;
    font-weight: bold;
    color: rgba(13, 17, 18, 0.94);

    font-family: "Segoe UI";
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 0.3rem;
    border-width: 0;
    margin-bottom: 0.3em;
}
#qt-textbox{
    padding: 0.5em;
    height: 20em;
    width: 100%;
    resize: none;
    margin-bottom: 0.5em;
    color: rgba(13, 17, 18, 0.94);

    font-family: "Segoe UI";
    font-size: 0.8em;
    box-sizing: border-box;
    border-radius: 0.3rem;
    border-width: 0;
}

.attachIcon{
    stroke: rgba(13, 17, 18, 0.94);
    fill: rgba(13, 17, 18, 0.94);
}



#attachments{
    display: grid;

    grid-template-columns: 49.75% 0.5% 49.75%;
    background: white;
    border-radius: 0.3rem;


}

#screenclip{
    height: 1.9rem;
    width: 1.6rem;
    margin: 0 0.4em 0 1em;

}

#attach{
    height: 1.9rem;
    margin: 0 0.2em 0 1em;
}

#attachButton
{
    padding: 0.5em;
    font-family: "Segoe UI";
    font-size: 1.2em;
    display: grid;
    grid-template-columns: auto 8fr;

    text-shadow: 1px 2px 2px #d5d5d5;
}

#attachButton:hover
{
    opacity: 0.7;
    cursor: pointer;
}
#attachButton:active
{
    border-radius: 4px;
    opacity: 1;
    background:#e7e2e2;
}
#clipButton
{

    padding: 0.5em;
    font-family: "Segoe UI";
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: auto 8fr;
    text-shadow: 1px 2px 2px #d5d5d5;
}

#clipButton:hover
{
    opacity: 0.7;
    cursor: pointer;
}
#clipButton:active
{
    border-radius: 4px;
    opacity: 1;
    background:#e7e2e2;
}
#clipIcon{

}
#border{
    background-color: rgb(0, 144, 147);

}
#sClip{

}
#sendIcon{
    fill:  rgb(237, 237, 237);
    stroke:  rgb(237, 237, 237);
    height: 1.8rem;
    width: 2.3em;
    margin-left: 0.3em;
    margin-top: 0;
}

#sendIcon:hover{
    stroke: rgb(0, 249, 190);
    fill: rgb(0, 249, 190);
}

#submit{
    margin: 0 auto;
}



/******************************************************************************/
/* MEDIA QUERIES */
@media screen and (max-width: 1025px) {
    .qBoard{
        width: 60%;
    }
    .inputcard{

    }

    .board{
        width: 70vw;
    }
}

@media screen and (max-width: 600px) {
    .qBoard{
        width: 100%;
    }
    .inputcard{

    }
    .board{
        width: 70vw;
    }
}

/******************************************************************************/
