.board{
    background-color: rgba(244, 246, 245, 0.77);

    height: 100%;
    touch-action: pinch-zoom;
    display: block;
    box-sizing: border-box;


}

.path{
    fill:none;
    stroke:black;

}
